<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{common/include :: include}">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{common/header :: header}"></div>
    <div class="container text-center">
        <h1>Registration</h1>
        <form th:action="@{/doRegister}" th:object="${userModel}" method="POST">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div class="mb-3">
                        <input type="text" class="form-control mx-auto" th:field="*{userName}" placeholder="User Name" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mx-auto">
                    <div class="mb-3">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
            <button type="button" name="back" onclick="history.back()" class="btn btn-secondary btn-lg">Go back</button>
        </form>
    </div>
<div th:insert="~{ common/footer :: footer}"></div>
</body>
</html>